.footer {
    background-color: $Raisin-black;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 144px;
  margin-bottom: 92px;
}
.footer__hr{
    width: 1110px;
    margin-top: 92px;
}


