.hero{
    margin-bottom: 6.5rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  margin-bottom: 127px;
}


.site-nav__list {
  display: flex;
  gap: 32px;
}
.site-nav__item {
  color: yellow
  
}

