$Chinese-black-color: #151515;
$Eucalyptus-color:#4EE1A0;
$Raisin-black:#242424;
$Light-silver:#d9d9d9;
$White-color:#FFFFFF;

$body-ff:'Space Grotesk',sans-serif;
$heading-ff: 'Space Grotesk',sans-serif;